samples/su-camel-datamapping/src/main/jbi/service.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<!--
 Copyright (c) 2015-2020 Linagora
 
 This program/library is free software: you can redistribute it and/or modify
 it under the terms of the GNU Lesser General Public License as published by
 the Free Software Foundation, either version 2.1 of the License, or (at your
 option) any later version.
 
 This program/library is distributed in the hope that it will be useful, but
 WITHOUT ANY WARRANTY; without even the implied warranty of MERCHANTABILITY or
 FITNESS FOR A PARTICULAR PURPOSE. See the GNU Lesser General Public License
 for more details.
 
 You should have received a copy of the GNU Lesser General Public License
 along with this program/library; If not, see http://www.gnu.org/licenses/
 for the GNU Lesser General Public License version 2.1.
-->
<wsdl:definitions
   xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
   xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
   xmlns:xsd="http://www.w3.org/2001/XMLSchema" 
   
   xmlns:petals-camel-wsdl="http://petals.ow2.org/components/petals-se-camel/wsdl/version-1.0"
   
   xmlns:tns="http://petals.ow2.org/AnotherNameSpace"
   targetNamespace="http://petals.ow2.org/AnotherNameSpace">
   <wsdl:types>
      <xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:tns="http://petals.ow2.org/AnotherNameSpace"
         elementFormDefault="qualified" targetNamespace="http://petals.ow2.org/AnotherNameSpace" version="1.0">
         <xs:element name="sayHello2">
            <xs:complexType>
               <xs:sequence>
                  <xs:element minOccurs="0" name="arg0" type="xs:string" />
               </xs:sequence>
            </xs:complexType>
         </xs:element>
         <xs:element name="sayHelloResponse2">
            <xs:complexType>
               <xs:sequence>
                  <xs:element minOccurs="0" name="return" type="xs:string" />
               </xs:sequence>
            </xs:complexType>
         </xs:element>
      </xs:schema>
   </wsdl:types>
   <wsdl:message name="sayHelloResponse2">
      <wsdl:part name="parameters" element="tns:sayHelloResponse2" />
   </wsdl:message>
   <wsdl:message name="sayHello2">
      <wsdl:part name="parameters" element="tns:sayHello2" />
   </wsdl:message>
   <wsdl:portType name="HelloWorldInterface">
      <wsdl:operation name="sayHello">
         <wsdl:input name="sayHello2" message="tns:sayHello2" />
         <wsdl:output name="sayHelloResponse2" message="tns:sayHelloResponse2" />
      </wsdl:operation>
   </wsdl:portType>
   <wsdl:binding name="DatamappingServiceBinding" type="tns:HelloWorldInterface">
      <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http" />
      <wsdl:operation name="sayHello">
         <petals-camel-wsdl:operation service-id="theProvidesId" />
         <wsdl:input />
         <wsdl:output />
      </wsdl:operation>
   </wsdl:binding>
   <wsdl:service name="DatamappingService">
      <wsdl:port name="autogenerate" binding="tns:DatamappingServiceBinding">
         <soap:address location="http://localhost:9003/datamapping" />
      </wsdl:port>
   </wsdl:service>
</wsdl:definitions>
